# 유튜브 랭킹 시각화

In [1]:
# 한글 폰트 설치
!apt-get install -y fonts-nanum > /dev/null
!fc-cache -fv > /dev/null
!rm -rf ~/.cache/matplotlib > /dev/null

In [1]:
# 런타임 다시 시작

In [21]:
# 한글 폰트 사용을 위한 설정
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rcParams['axes.unicode_minus'] = False
plt.rc('font', family='NanumBarunGothic')

In [22]:
# 파일 업로드
from google.colab import files
uploaded = files.upload()
filename = list(uploaded.keys())[0]

Saving 유튜브_순위.csv to 유튜브_순위 (1).csv

In [23]:
df = pd.read_csv(filename)
df.head()

       카테고리                          채널명        구독자수             조회수   비디오수
0  음악/댄스/가수                    BLACKPINK  64,000,000  19,003,810,000    371
1  음악/댄스/가수                  HYBE LABELS  60,300,000  18,713,050,000    654
2  음악/댄스/가수                    BANGTANTV  56,400,000  12,194,960,000  1,579
3  음악/댄스/가수                       SMTOWN  28,500,000  21,870,920,000  3,729
4    키즈/어린이  Boram Tube Vlog [보람튜브 브이로그]  26,500,000  11,052,880,000    223

In [24]:
# 구독자수 --> 구독자수2(정수)
df['구독자수2'] = df.구독자수.apply(lambda x: )

SyntaxError: ignored

In [25]:
x = '64,300'
int(x.replace(',',''))      # x값을 정수로 바꿔줘야함

64300

In [26]:
# 구독자수 --> 구독자수2(정수)
df['구독자수2'] = df.구독자수.apply(lambda x: int(x.replace(',','')))
df.head()

       카테고리                          채널명  ...   비디오수     구독자수2
0  음악/댄스/가수                    BLACKPINK  ...    371  64000000
1  음악/댄스/가수                  HYBE LABELS  ...    654  60300000
2  음악/댄스/가수                    BANGTANTV  ...  1,579  56400000
3  음악/댄스/가수                       SMTOWN  ...  3,729  28500000
4    키즈/어린이  Boram Tube Vlog [보람튜브 브이로그]  ...    223  26500000

[5 rows x 6 columns]

In [27]:
def str2int(x):
    return int(x.replace(',',''))

In [28]:
df['비디오수2'] = df.비디오수.apply(str2int)
df.head()

       카테고리                          채널명        구독자수  ...   비디오수     구독자수2  비디오수2
0  음악/댄스/가수                    BLACKPINK  64,000,000  ...    371  64000000    371
1  음악/댄스/가수                  HYBE LABELS  60,300,000  ...    654  60300000    654
2  음악/댄스/가수                    BANGTANTV  56,400,000  ...  1,579  56400000   1579
3  음악/댄스/가수                       SMTOWN  28,500,000  ...  3,729  28500000   3729
4    키즈/어린이  Boram Tube Vlog [보람튜브 브이로그]  26,500,000  ...    223  26500000    223

[5 rows x 7 columns]

- 비디오수 Top20 (채널명, 비디오수) 막대그래프

In [29]:
df.sort_values(by='비디오수2', ascending=False).head(10)

         카테고리                채널명       구독자수  ...     비디오수    구독자수2   비디오수2
154  뉴스/정치/사회           YTN news  2,500,000  ...  553,462  2500000  553462
706  뉴스/정치/사회             연합뉴스TV    700,000  ...  362,555   700000  362555
59      TV/방송          SBS Drama  5,480,000  ...  340,878  5480000  340878
56      TV/방송  SBS Entertainment  5,720,000  ...  216,725  5720000  216725
337  뉴스/정치/사회           KBS News  1,320,000  ...  176,159  1320000  176159
973  뉴스/정치/사회       Arirang News    530,000  ...  123,886   530000  123886
243  뉴스/정치/사회          JTBC News  1,710,000  ...  116,376  1710000  116376
290  뉴스/정치/사회            MBCNEWS  1,500,000  ...  115,414  1500000  115414
112     TV/방송          KBS Drama  3,470,000  ...  114,095  3470000  114095
230  뉴스/정치/사회             SBS 뉴스  1,780,000  ...  111,308  1780000  111308

[10 rows x 7 columns]

In [30]:
df2 = df[['채널명', '비디오수2']]
df2.set_index('채널명', inplace=True)
df2.sort_values(by='비디오수2').head(20).plot(kind='barh', grid=True, figsize=(12,8))
plt.title('비디오수 Top20 채널')
plt.show()

/usr/local/lib/python3.7/dist-packages/matplotlib/backends/backend_agg.py:214: RuntimeWarning: Glyph 201 missing from current font.
  font.set_text(s, 0.0, flags=flags)
/usr/local/lib/python3.7/dist-packages/matplotlib/backends/backend_agg.py:183: RuntimeWarning: Glyph 201 missing from current font.
  font.set_text(s, 0, flags=flags)

In [33]:
import seaborn as sns
df2 = df[['채널명', '비디오수2']].sort_values(by='비디오수2', ascending=False)
plt.figure(figsize=(12,8))
sns.barplot(y='채널명', x='비디오수2', data=df2.head(20))
plt.title('비디오수 Top 20 채널')
plt.show()

- 조회수 기준 Top20 채널 시각화

In [36]:
int('조회수'.replace(',',''))
df2 = df[['채널명', '조회수']]
df2.set_index('채널명', inplace=True)
df2.sort_values(by='조회수').head(20).plot(kind='barh', grid=True, figsize=(12,8))
plt.title('조회수 Top20 채널')
plt.show()

ValueError: ignored