In [1]:
import numpy as np
import pandas as pd

In [4]:
s = iris[iris.species == 'setosa']['sepal_length']
np.round(s.mean(), 2), np.round(s.std(), 4)

NameError: ignored

In [3]:
iris.species.unique()

NameError: ignored

In [5]:
iris.colums

NameError: ignored

In [6]:
species_list, feature_list, mean_list, std_list = [],[],[],[]
for species in iris.species.unique():
    for feature in iris.columns[:-1]:
        s = iris[iris.species == species][feature]
        species_list.append(species)
        feature_list.append(feature)
        mean_list.append(np.round(s.mean(), 2))
        std_list.append(np.round(s.std(), 4))

NameError: ignored

In [7]:
df = pd.DataFrame({
    'species': species_list, 'feature': feature_list,
    'mean': mean_list, 'std': std_list
})
df

Empty DataFrame
Columns: [species, feature, mean, std]
Index: []

In [9]:
df.set_index(['species', 'feature'], inplace=True)
df

Empty DataFrame
Columns: [mean, std]
Index: []