# Pandas - Series

In [1]:
import numpy as np
import pandas as pd

## 시리즈 생성

In [3]:
s =pd.Series([9904312,3448737,2890451,2466052],
             index=['서울','부산','인천','대구'], dtype=np.int32)
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int32

In [4]:
# 시리즈의 값 - 넘파이 배열
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int32)

In [6]:
# 시리즈의 인덱스
s.index                 # str이 아닌 object

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [7]:
s.name="인구"
s.index.name='도시'
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int32

## 시리즈의 연산

In [8]:
s / 1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

## 시리즈 인덱싱

In [9]:
s.values.name = '인구수'
s

AttributeError: ignored

In [10]:
s[1], s['부산']

(3448737, 3448737)

In [13]:
# fancy indexing
s[[0, 3, 1]]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int32

In [12]:
s[["서울", "대구", "부산"]]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int32

In [14]:
# slicing
s[1:3]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int32

In [16]:
# 문자인덱스로 슬라이싱하면 마지막(대구)도 포함
s['부산':'대구']

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int32

In [17]:
# 필터링
s[2000000 < s < 3000000]

ValueError: ignored

In [19]:
s[(250e4 < s) & (s < 300e4)]

도시
인천    2890451
Name: 인구, dtype: int32

In [22]:
s[(2500000 < s) & (s < 3000000)]        # 로지컬 and

도시
인천    2890451
Name: 인구, dtype: int32

In [23]:
s[(s<25e5) | (s>4e6)]  # 로지컬 or

도시
서울    9904312
대구    2466052
Name: 인구, dtype: int32

In [25]:
s.부산  # 판다스 버전이 올라가 한글 인덱스 값도 쓸 수 있음

3448737

## 시리즈와 딕셔너리 자료형

In [26]:
s2 = pd.Series({"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전": 1490158})
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [30]:
"서울" in s2  # 인덱스 라벨 중에 서울이 있는가

True

In [31]:
"대구" in s2  # 인덱스 라벨 중에 대전이 있는가

False

## 인덱스 기반 연산

In [32]:
s - s2

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [34]:
s.values - s2.values

array([272830,  55546, 258416, 975894])

In [38]:
# 인구증가율
rs = (s-s2)/s * 100
rs = rs[rs.notnull()]       # 대구 대전은 안나오고 부산, 서울, 인천만 나옴
rs

부산    1.610619
서울    2.754659
인천    8.940335
dtype: float64

## 데이터의 갱신, 추가, 삭제

In [42]:
# 갱신
rs['부산'] = 1.63
rs

부산    1.630000
서울    2.754659
인천    8.940335
대구    1.410000
dtype: float64

In [43]:
# 추가
rs['대구'] = 1.41
rs

부산    1.630000
서울    2.754659
인천    8.940335
대구    1.410000
dtype: float64

In [44]:
# 삭제
del rs['서울']
rs

부산    1.630000
인천    8.940335
대구    1.410000
dtype: float64