# 판다스 데이터 입출력

In [1]:
import pandas as pd

In [2]:
# Magic 명령어
%%writefile sample1.csv
c1, c2 ,c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample1.csv

In [4]:
pd.read_csv('sample1.csv')

   c1   c2       c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [12]:
# 헤더값을 없앰

In [13]:
%%writefile sample2.csv
1, 1.11, one            
2, 2.22, two
3, 3.33, three

Overwriting sample2.csv

In [14]:
pd.read_csv('sample2.csv')

   1   1.11  one
0  2   2.22              two
1  3   3.33            three

In [15]:
# 제일 첫 번째 값을 열인덱스로 잡음

In [18]:
# 헤더 없이 읽겠다. 시스템에서 알아서 주는 헤더로 작성

In [17]:
pd.read_csv('sample2.csv', header=None)

   0     1                 2
0  1  1.11   one
1  2  2.22               two
2  3  3.33             three

In [20]:
# 열 인덱스 추가

In [21]:
pd.read_csv('sample2.csv', names=['c1','c2','c3'])

   c1    c2                c3
0   1  1.11   one
1   2  2.22               two
2   3  3.33             three

In [23]:
pd.read_csv('sample1.csv', index_col='c1')

     c2       c3
c1
1   1.11     one
2   2.22     two
3   3.33   three

In [24]:
%%writefile sample3.txt
c1        c2        c3        c4
0.179181 -1.538472  1.347553  0.43381
1.024209  0.087307 -1.281997  0.49265
0.417899 -2.002308  0.255245 -1.10515

Writing sample3.txt

In [25]:
pd.read_csv('smaple3.txt')

FileNotFoundError: ignored

In [33]:
pd.read_csv('sample3.txt')

        c1        c2        c3        c4
0  0.179181 -1.538472  1.347553  0.43381
1  1.024209  0.087307 -1.281997  0.49265
2  0.417899 -2.002308  0.255245 -1.10515

In [35]:
# 세퍼레이터 없으면 한 줄로 읽어버림

In [36]:
pd.read_csv('sample3.txt', sep='\s+')

         c1        c2        c3       c4
0  0.179181 -1.538472  1.347553  0.43381
1  1.024209  0.087307 -1.281997  0.49265
2  0.417899 -2.002308  0.255245 -1.10515

In [37]:
# s 스페이스
# 스페이스 1개 이상 이여서 +붙임

In [39]:
%%writefile sample4.txt
파일 제목: sample4.txt
데이터 포맷의 설명:
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample4.txt

In [42]:
pd.read_csv('sample4.txt', skiprows=[0,1])

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [43]:
%%writefile sample5.csv
c1, c2, c3
1, 1.11, one
2, , two
누락, 3.33, three

Writing sample5.csv

In [50]:
df = pd.read_csv('sample5.csv', na_values=['누락', ' '], )
df

    c1    c2      c3
0  1.0  1.11     one
1  2.0   NaN     two
2  NaN  3.33   three

### CSV 파일 출력

In [51]:
df.to_csv('sample6.csv')

In [52]:
!cat sample6.csv

,c1, c2, c3
0,1.0,1.11, one
1,2.0,, two
2,,3.33, three

In [60]:
pd.read_csv('sample6.csv')

   Unnamed: 0   c1    c2      c3
0           0  1.0  1.11     one
1           1  2.0   NaN     two
2           2  NaN  3.33   three

In [57]:
# 인덱스가 나옴

In [55]:
df.to_csv('sample7.txt', sep='|', index=False)

In [58]:
# 인덱스 값을 없앰

In [63]:
!cat sample7.txt

c1| c2| c3
1.0|1.11| one
2.0|| two
|3.33| three

In [64]:
pd.read_csv('sample7.csv', sep='|')

FileNotFoundError: ignored

### 인터넷 상의 CSV 파일 읽기

In [65]:
df = pd.read_csv("https://raw.githubusercontent.com/datascienceschool/docker_rpython/master/data/titanic.csv")

In [66]:
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]