# 데이터프레임 고급 인덱싱

In [28]:
import numpy as np
import pandas as pd

## loc 인덱서

In [6]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["x", "y", "z"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
x  10  11  12  13
y  14  15  16  17
z  18  19  20  21

In [7]:
df.loc['x']

A    10
B    11
C    12
D    13
Name: x, dtype: int64

## 1개만 있으면 행 인덱싱

In [14]:
df.loc['x':'y']     # df['x':'y'] 와 동일

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [15]:
df.loc[['x', 'z']]

    A   B   C   D
x  10  11  12  13
z  18  19  20  21

In [16]:
df['A'] > 15

x    False
y    False
z     True
Name: A, dtype: bool

In [17]:
# Boolean indexing
df.loc[df.A > 15]

    A   B   C   D
z  18  19  20  21

### 인덱서 2개를 받는 경우

In [18]:
df.loc['x', 'A']

10

In [21]:
df.loc['y':, 'B']

y    15
z    19
Name: B, dtype: int64

In [22]:
df.loc[df.A>10, 'B']

y    15
z    19
Name: B, dtype: int64

## iloc 인덱서

In [23]:
df.iloc[0,0]

10

In [24]:
df.iloc[:2, 1:]

    B   C   D
x  11  12  13
y  15  16  17

In [25]:
df.iloc[-1]

A    18
B    19
C    20
D    21
Name: z, dtype: int64

In [30]:
### 연습문제 4.3.1
df = pd.DataFrame(np.arange(25).reshape(5,5),
                  index = ['a','b','c','d','e'],
                  columns = ['v','w','x','y','z'])
df

    v   w   x   y   z
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

In [40]:
# 12 값 도출
df['x']['c'], df.x['c'], df.x[2], df.x.c            #  df.x[2] 프로그램에서 많이 사용        df.x[2]

(12, 12, 12, 12)

In [41]:
# loc
df.loc['c','x'], df.loc['c']['x'], df.loc['c'][2]

(12, 12, 12)

In [42]:
# iloc
df.iloc[2,2], df.iloc[2]['x'], df.iloc[2][2]            # df.iloc[2,2]

(12, 12, 12)

In [43]:
df.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [44]:
for i in df.index:
    print(df.x[i])

2
7
12
17
22